html *
{
   font-size: 5vw !important;
   font-family: 'Source Serif Pro', serif !important;
}

body {
    background-color: #fff;
}

button{
	background-color: rgb(189, 189, 189);
	color: #fff;
	border: 0px;
	border-radius: 0.5vw;
	padding: 2vw;
	cursor: pointer;
	margin-bottom: 2vw;
}
button:hover{
	background-color: rgb(214, 214, 214);
}
.game-container{
    display: grid;
    gap: 1vw;
    justify-items: center;
    align-items: center;
}
.grid-wrapper {
    width: 70vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1vw;
    justify-items: center;
    align-items: center;
}   
.b1 {
    grid-column: 1;
    grid-row: 1;
}
.b2 {
    grid-column: 2;
    grid-row: 1;
}
.b3 {
    grid-column: 3;
    grid-row: 1;
}
.r1 {
    grid-column: 1;
    grid-row: 2;
}
.r2 {
    grid-column: 2;
    grid-row: 2;
}
.r3 {
    grid-column: 3;
    grid-row: 2;
}
.rectangle {
    border-style: solid;
    border-width: 0.25vw;
}
#question-text {
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 4vw;
}